@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.projectsContainer {
    align-items: center;
    height: 80vh;
    text-align: center;
}

.projectImage {
    border-radius: 20px;
    height: 250px;
    object-fit: cover; 
    width: 500px;
}

.projectColumn {
    display: flex;
    justify-content: space-around;
}

.projectDiv {
    background-color: black;
    border-radius: 20px;
    height: 500px;
    margin-bottom: 20px;
    width: 500px;
}

.projectDescription {
    font-family: "Manrope", sans-serif;
    padding: 5px;
}


/* .projectLink {
    margin-top: 10px;
} */